DB_HOST=localhost
DB_USER=matur124_studyabroad
DB_PASSWORD=YOUR_PASSWORD_HERE
DB_NAME=matur124_studyabroad
DB_PORT=3306
PORT=3000

GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_KEY_HERE
CESIUM_ION_TOKEN=YOUR_CESIUM_ION_TOKEN_HERE
